.menu__text {
  display: none;
}

#wrapper-1 {
	opacity: 1;
  }
  
  #wrapper-2 {
	opacity: 0;
  }

  .cls-1 {
	fill: black !important;
  }

  canvas {
    height: calc(1080px / 2);
    width: calc(1920px /2);
  }